{% extends 'polls/base.html' %}

{% block main_content %}

<!--<h1>{{question.question_text}}</h1>-->

<!--{% if error_message %} <p> <strong>{{error_message}}</strong></p> {% endif %}-->

<!--<form action="{% url 'polls:vote' question.id %}" method="post">-->
    <!--{% csrf_token %}-->
    <!--{% for choices in question.choices_set.all %}-->
        <!--<input type="radio" name ="choices" id="choices{{forloop.counter}}" value="{{choices.id}}"/>-->
        <!--<label for="choices{{forloop.counter}}">{{choices.choices_text}}</label> <br>-->
    <!--{% endfor %}-->
    <!--<input type= "submit" value="vote"/>-->



<!--</form>-->

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choices in question.choices_set.all %}
    <input type="radio" name="choices" id="choices{{ forloop.counter }}" value="{{ choices.id }}">
    <label for="choices{{ forloop.counter }}">{{ choices.choices_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>

<!--<ul>-->
    <!--{% for choices in question.choice_set.all %}-->
        <!--<li>{{choices.choice_text}}</li>-->
    <!--{% endfor %}-->


<!--</ul>-->

<!--{% endblock %}-->


